<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/', 'dashboard']">Home</a>
        </li>

        <li>
            <a [routerLinkActive]="['active']" [routerLink]="['/', 'department']">Add Department</a>
        </li>
  
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/', 'designation']">Add Designation</a>
        </li>
  
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/', 'employee']">Add Employee</a>
        </li>
  
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/', 'permissions']">Role And Duties</a>
        </li>
  
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/', 'projects']">Project-List</a>
        </li>  
  
         <li>
            <a [routerLinkActive]="['active']" [routerLink]="['/', 'tasks']">Task History</a>
         </li>
         
      </ul>
    </div>
  </div>